<!DOCTYPE html>
<head>
    <title>Infratelier - 404 Introuvable</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Infratelier" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/png" href="/static/favico.png" >
    <link rel="stylesheet" type="text/css" href="/static/normalize.css" >
    <style>{{{css}}}</style>
</head>

<body>
    <header>
        <div>
            <img src="/static/haskraft.logo.png" alt="logo infratelier" />
        </div>
    </header>

    <div class="main">
        <h2>400 Mauvaise requête</h2>
        <h2>401 Non autorisé</h2>
        <h2>402 Paiement requis</h2>
        <h2>403 Interdit</h2>
        <h1>404 Introuvable</h1>
        <h2>405 Méthode inacceptable</h2>
        <h2>406 Inacceptable</h2>
    </div>

    <footer>
    </footer>
</body>
