<!DOCTYPE html>
<head>
    <title>Haskraft - Web Crafter Consultant</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Haskraft" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/png" href="/static/favico.png" >
    <link rel="stylesheet" type="text/css" href="/static/normalize.css" >
    <style>{{{css}}}</style>
</head>

<body>
    <header>
    </header>
    <div class="background-main">
    </div>
</body>
