<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<meta name="copyright" content="Infratelier Copyright" />
<meta name="distribution" content="global">
<meta name="description" content="{{description}}" />
<meta name="abstract" content="infratelier infrastructure studio" />
<meta name="keywords" content="{{keywords}}" />
<meta name="author" content="Flog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="revisit-after" content="1 day">
<meta name="robots" content="all" />

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="{{baseUrl}}" />
<meta property="og:site_name" content="{{siteName}}" />

<link rel="icon" type="image/x-icon" href="{{baseUrl}}/favicon.ico" >
<link rel="stylesheet" href="{{baseUrl}}{{staticPath}}/dist/index.css" type="text/css" media="all" >

<title>{{title}}</title>
