<footer class="footer is-paddingless">
    <div class="footer-social">
        <div class="level is-mobile container">
            <div class="level-left">
                <h3 class="has-text-white is-hidden-mobile" >
                  Infrastructure Studio avec une expertise unique en
                  Architecture, Résilience, Sécurité, et Performance.
                </h3>
            </div>
        </div>
    </div>

    <div class="m-t-lg" ></div>

    <div class="container" >
        <div class="columns footer-listing" >
            <div class="column m-l-lg">
                <a href="#" class="subtitle"><i class="uil uil-sitemap p-t-sm"></i>Carte du site</a>
                <ul>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="column m-l-lg" >
                <a href="/newsletter" class="subtitle"><i class="uil uil-envelope-info p-r-sm"></i>Newsletter</a>
                <ul>
                    <li>
                        <a href="/newsletter">Rejoindre la newsletter</a>
                    </li>
                </ul>
            </div>

            <div class="column m-l-lg" >
                <a href="/blog" class="subtitle"><i class="uil uil-rss p-r-sm"></i>Blog</a>
                <ul>
                    <li>
                        <a href="/blog">Francais</a>
                    </li>
                </ul>
            </div>

            <div class="column m-l-lg">
                <a href="/contact" class="subtitle" ><i class="uil uil-envelope p-r-sm"></i>Contactez nous</a>
            </div>
        </div>
    </div>

</footer>
