<nav class="navbar" role="navigation" aria-label="main navigation" style="z-index: 600;">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <div>
                    <div>
                        <h1 class="title logo-text is-marginless has-text-weight-semibold has-text-classy is-3" >
                          infrAtelier
                        </h1>
                    </div>
                </div>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="topNavbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Accueil
                </a>
                <a class="navbar-item" href="/blog">
                    Blog
                </a>
                <a class="navbar-item" href="/contact">
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>
