<!DOCTYPE html>
<html lang="fr">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/bootstrap.min.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/owl.theme.default.min.css">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/owl.carousel.min.css">
		<!-- Owl Magnific Popup Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/magnific-popup.min.css">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/animate.min.css">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/boxicons.min.css"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="/theme/assets/css/flaticon.css">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="/theme/assets/css/meanmenu.min.css">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="/theme/assets/css/nice-select.min.css">
		<!-- Odometer Min CSS-->
		<link rel="stylesheet" href="/theme/assets/css/odometer.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="/theme/assets/css/style.css">
		<!-- Dark CSS -->
		<link rel="stylesheet" href="/theme/assets/css/dark.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/theme/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/theme/assets/img/favicon.png">
		<!-- Title -->
		<title>Infratelier - Consultant et Formateur Independant autour des technologies Cloud</title>
    </head>
    <body>
		<!-- Start Preloader Area -->
		<div class="loader-wrapper">
			<div class="loader">
				<div class="dot-wrap">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
			</div>
		</div>
		<!-- End Preloader Area -->

		<!-- Start Newsletter Modal -->
		<div class="modal-newsletter-area">
			<div class="modal fade" id="exampleModal" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<button type="button" class="close" data-bs-dismiss="modal">
							<i class="bx bx-x"></i>
						</button>
					
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-5 col-sm-5 p-0">
									<div class="newsletter-img">
										<img src="/theme/assets/img/newsletter-img.jpg" alt="Image">
									</div>
								</div>

								<div class="col-lg-7 col-sm-7 pl-0">
									<div class="modal-newsletter-wrap">
										<h3>Subscribe to our newsletter</h3>
										<p>Sign up for our mailing list to get the latest updates & offers.</p>

										<form class="newsletter-form" data-toggle="validator">
											<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
				
											<button class="default-btn" type="submit">
												Subscribe Now
											</button>
				
											<div id="validator-newsletter-2" class="form-result"></div>

											<div class="agree-label">
												<input type="checkbox" id="chb1">
												<label for="chb1">
													Do not show this popup again
												</label>
											</div>
										</form>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Newsletter Modal -->
		
		<!-- Start Navbar Area -->
		<div class="navbar-area">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="index.html" class="logo">
					<img src="/theme/assets/img/logo.png" class="main-logo" alt="Logo">
					<img src="/theme/assets/img/logo-2.png" class="white-logo" alt="Logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-md">
						<a class="navbar-brand" href="index.html">
							<img src="/theme/assets/img/logo.png" class="main-logo" alt="Logo">
							<img src="/theme/assets/img/logo-2.png" class="white-logo" alt="Logo">
						</a>
						
						<div class="collapse navbar-collapse mean-menu">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="#" class="nav-link active">
										Home
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="index.html" class="nav-link active">Home One</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">Home Two</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link">Home Three</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Courses
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="courses.html" class="nav-link">Courses</a>
										</li>
										<li class="nav-item">
											<a href="single-course.html" class="nav-link">Single Course</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Pages
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="about.html" class="nav-link">About</a>
										</li>
										<li class="nav-item">
											<a href="feedback.html" class="nav-link">Feedback</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												Events
												<i class='bx bx-chevron-right'></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="events.html" class="nav-link">Events</a>
												</li>
												<li class="nav-item">
													<a href="single-event.html" class="nav-link">Single Event</a>
												</li>
											</ul>
										</li>
										<li class="nav-item">
											<a href="instructors.html" class="nav-link">Instructors</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												User
												<i class='bx bx-chevron-right'></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="my-account.html" class="nav-link">My Account</a>
												</li>
												<li class="nav-item">
													<a href="log-in.html" class="nav-link">Log In</a>
												</li>
												<li class="nav-item">
													<a href="registration.html" class="nav-link">Registration</a>
												</li>
												<li class="nav-item">
													<a href="recover-password.html" class="nav-link">Recover Password</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="gallery.html" class="nav-link">Gallery</a>
										</li>
										<li class="nav-item">
											<a href="faq.html" class="nav-link">FAQ</a>
										</li>
										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>
										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">404 Error Page</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Shop
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="shop.html" class="nav-link">Shop</a>
										</li>
										<li class="nav-item">
											<a href="cart.html" class="nav-link">Cart</a>
										</li>
										<li class="nav-item">
											<a href="checkout.html" class="nav-link">Checkout</a>
										</li>
										<li class="nav-item">
											<a href="single-product.html" class="nav-link">Single Product</a>
										</li>
										<li class="nav-item">
											<a href="wishlist.html" class="nav-link">Wishlist</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Blog
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-column-one.html" class="nav-link">Blog Column One</a>
										</li>
										<li class="nav-item">
											<a href="blog-column-two.html" class="nav-link">Blog Column Two</a>
										</li>
										<li class="nav-item">
											<a href="blog-column-three.html" class="nav-link">Blog Column Three</a>
										</li>
										<li class="nav-item">
											<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="single-blog.html" class="nav-link">Single Blog</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
							</ul>
							
							<!-- Start Other Option -->
							<div class="others-option">
								<div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>

								<div class="cart-icon">
									<a href="cart.html">
										<i class="flaticon-shopping-cart"></i>
										<span>0</span>
									</a>
								</div>	
								
								<div class="register">
									<a href="my-account.html" class="default-btn">
										Login / Register
									</a>
								</div>	
							</div>
							<!-- End Other Option -->
						</div>
					</nav>
				</div>
			</div>

			<!-- Start Others Option For Responsive -->
			<div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option justify-content-center d-flex align-items-center">
                                <div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>

								<div class="cart-icon">
									<a href="cart.html">
										<i class="flaticon-shopping-cart"></i>
										<span>0</span>
									</a>
								</div>	
								
								<div class="register">
									<a href="my-account.html" class="default-btn">
										Login / Register
									</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<!-- End Others Option For Responsive -->
		</div>
		<!-- End Navbar Area -->

		<!-- Start Banner Area -->
		<section class="banner-area f5f6fa-bg-color">
			<div class="container-fluid social">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner-content">
							<h1 class="wow fadeInLeft" data-wow-delay="0.3s">Study a recognized qualification with the online learning experts</h1>
							<p class="wow fadeInLeft" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							<a href="courses.html" class="default-btn wow fadeInLeft" data-wow-delay="0.9s"> 
								View Courses
							</a>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="banner-img wow fadeInRight" data-wow-delay="0.3s">
							<img src="/theme/assets/img/banner-img/banner-img-1.jpg" alt="Image">
						</div>
					</div>
				</div>

				<!-- Start Social Wrap -->
				<ul class="social-wrap">
					<li class="follow-us">
						Follow Us:
					</li>
					<li>
						<a href="#" target="_blank">
							<i class="bx bxl-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<i class="bx bxl-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<i class="bx bxl-facebook"></i>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<i class="bx bxl-linkedin"></i>
						</a>
					</li>
				</ul>
				<!-- End Social Wrap -->
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start Partner Area -->
		<div class="partner-area f5f6fa-bg-color ptb-100">
			<div class="container">
				<div class="partner-wrap owl-theme owl-carousel">
					<div class="partner-item">
						<a href="#">
							<img src="/theme/assets/img/partner-logo/partner-logo-1.png" alt="Image">
						</a>
					</div>

					<div class="partner-item">
						<a href="#">
							<img src="/theme/assets/img/partner-logo/partner-logo-2.png" alt="Image">
						</a>
					</div>

					<div class="partner-item">
						<a href="#">
							<img src="/theme/assets/img/partner-logo/partner-logo-3.png" alt="Image">
						</a>
					</div>

					<div class="partner-item">
						<a href="#">
							<img src="/theme/assets/img/partner-logo/partner-logo-4.png" alt="Image">
						</a>
					</div>

					<div class="partner-item">
						<a href="#">
							<img src="/theme/assets/img/partner-logo/partner-logo-5.png" alt="Image">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Partner Area -->

		<!-- Start Achieve Area -->
		<section class="achieve-area f5f6fa-bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Leader In Education</span>
					<h2>Achieve your goals</h2>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-achieve">
							<div class="achieve-shape shape-1">
								<img src="/theme/assets/img/achieve-shape/achieve-shape-1.png" alt="Image">
								<i class="flaticon-skills"></i>
							</div>

							<h3>Learn the latest skills</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt sis.</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-achieve">
							<div class="achieve-shape shape-2">
								<img src="/theme/assets/img/achieve-shape/achieve-shape-2.png" alt="Image">
								<i class="flaticon-career"></i>
							</div>

							<h3>Get ready for a career</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt sis.</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-achieve">
							<div class="achieve-shape shape-3">
								<img src="/theme/assets/img/achieve-shape/achieve-shape-3.png" alt="Image">
								<i class="flaticon-certificate"></i>
							</div>

							<h3>Earn a certificate or degree</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt sis.</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-achieve">
							<div class="achieve-shape shape-4">
								<img src="/theme/assets/img/achieve-shape/achieve-shape-4.png" alt="Image">
								<i class="flaticon-group"></i>
							</div>

							<h3>Upskill your organization</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt sis.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Achieve Area -->

		<!-- Start Education Area -->
		<section class="education-area ebeef5-bg-color">
			<div class="container-fluid p-0">
				<div class="row">
					<div class="col-lg-6">
						<div class="education-img">
							<img src="/theme/assets/img/education-img.png" alt="Image">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="education-content ptb-100">
							<span class="top-title">Education For All</span>
							<h2>Why create an online course with <span>EDUON</span>?</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

							<ul>
								<li>
									<i class="bx bx-check"></i>
									Unlimited everything
								</li>
								<li>
									<i class="bx bx-check"></i>
									No transaction fees
								</li>
								<li>
									<i class="bx bx-check"></i>
									No technical headaches
								</li>
								<li>
									<i class="bx bx-check"></i>
									World-class support from real people
								</li>
								<li>
									<i class="bx bx-check"></i>
									Free migrations
								</li>
							</ul>

							<a href="courses.html" class="default-btn">
								View Courses
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Education Area -->

		<!-- Start Popular Courses Area -->
		<section class="courses-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Popular Courses</span>
					<h2>Select a course to find out more</h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-1.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$39</span>
								<span class="tag">Education</span>

								<a href="single-course.html">
									<h3>Developing strategies for online teaching and learning</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(1 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">44 Students</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-2.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$59</span>
								<span class="tag">Accounting</span>

								<a href="single-course.html">
									<h3>Introduction to cybersecurity for teachers</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(3 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">24 Students</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-3.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$29</span>
								<span class="tag">Language</span>

								<a href="single-course.html">
									<h3>English: spelling, punctuation, and grammar</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(5 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">39 Students</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-4.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$49</span>
								<span class="tag">Teaching</span>

								<a href="single-courses.html">
									<h3>Introduction to cybersecurity for teachers</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(2 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">50 Students</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-5.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$39</span>
								<span class="tag">Teaching</span>

								<a href="single-course.html">
									<h3>Learning implementing formative assessment</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(1 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">44 Students</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-course">
							<a href="single-course.html">
								<img src="/theme/assets/img/course-img/course-img-6.jpg" alt="Image">
							</a>

							<div class="course-content">
								<span class="price">$59</span>
								<span class="tag">Education</span>

								<a href="single-course.html">
									<h3>Teaching languages in primary schools: putting research</h3>
								</a>

								<ul class="rating">
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<i class="bx bxs-star"></i>
									</li>
									<li>
										<span>0.5</span>
										<a href="#">(3 rating)</a>
									</li>
								</ul>

								<p>Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

								<ul class="lessons">
									<li>0 Lessons</li>
									<li class="float">44 Students</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Popular Courses Area -->

		<!-- Start Counter Area -->
		<section class="counter-area ebeef5-bg-color pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<div class="counter-shape shape-1">
								<img src="/theme/assets/img/counter-shape/counter-shape-1.png" alt="Image">

								<h2>
									<span class="odometer" data-count="100">00</span>
									<span class="target">%</span>
								</h2>
							</div>

							<p>Success rate</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<div class="counter-shape shape-2">
								<img src="/theme/assets/img/counter-shape/counter-shape-2.png" alt="Image">

								<h2>
									<span class="odometer" data-count="5253">00</span> 
								</h2>
							</div>

							<p>Students enrolled</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<div class="counter-shape shape-3">
								<img src="/theme/assets/img/counter-shape/counter-shape-3.png" alt="Image">

								<h2>
									<span class="odometer" data-count="325">00</span> 
								</h2>
							</div>

							<p>Certified teachers</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-counter">
							<div class="counter-shape shape-4">
								<img src="/theme/assets/img/counter-shape/counter-shape-4.png" alt="Image">

								<h2>
									<span class="odometer" data-count="565">00</span> 
								</h2>
							</div>

							<p>Complete courses</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Counter Area -->

		<!-- Start Enroll Area -->
		<section class="enroll-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="enroll-wrap">
							<form class="courses-form">
								<span>Need Any Courses</span>
								<h3>Enroll Now</h3>

								<div class="form-group">
									<input type="text" class="form-control" id="Name" placeholder="Your name">
								</div>

								<div class="form-group">
									<input type="email" class="form-control" id="email" placeholder="Your email">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" id="Number" placeholder="Phone Number">
								</div>

								<div class="form-group">
									<select>
										<option value="">Courses Type</option>
										<option value="">Courses Type 1</option>
										<option value="">Courses Type 2</option>
										<option value="">Courses Type 3</option>
										<option value="">Courses Type 4</option>
										<option value="">Courses Type 5</option>
										<option value="">Courses Type 6</option>
									</select>	
								</div>

								<button type="submit" class="default-btn">
									Submit
								</button>
							  </form>
						</div>
					</div>

					<div class="col-lg-7">
						<div class="enroll-img">
							<img src="/theme/assets/img/enroll-img.png" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Enroll Area -->

		<!-- Start Teachers Area -->
		<section class="teachers-area ebeef5-bg-color pt-100">
			<div class="container">
				<div class="section-title">
					<span>Our Teachers</span>
					<h2>Our international teachers</h2>
				</div>

				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-teachers">
							<img src="/theme/assets/img/teachers-img/teachers-img-1.jpg" alt="Image">

							<div class="teachers-content">
								<ul>
									<li>
										<a href="#"><i class="bx bxl-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-linkedin-square"></i></a>
									</li>
								</ul>

								<h3>Earl Mcgowan</h3>
								<span>IT & Software</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-teachers">
							<img src="/theme/assets/img/teachers-img/teachers-img-2.jpg" alt="Image">

							<div class="teachers-content">
								<ul>
									<li>
										<a href="#"><i class="bx bxl-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-linkedin-square"></i></a>
									</li>
								</ul>

								<h3>Chris Miller</h3>
								<span>Mathematic</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-teachers">
							<img src="/theme/assets/img/teachers-img/teachers-img-3.jpg" alt="Image">

							<div class="teachers-content">
								<ul>
									<li>
										<a href="#"><i class="bx bxl-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-linkedin-square"></i></a>
									</li>
								</ul>

								<h3>Mark Dent</h3>
								<span>Programmer</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-teachers">
							<img src="/theme/assets/img/teachers-img/teachers-img-4.jpg" alt="Image">

							<div class="teachers-content">
								<ul>
									<li>
										<a href="#"><i class="bx bxl-instagram"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bx bxl-linkedin-square"></i></a>
									</li>
								</ul>

								<h3>Lena Bodie</h3>
								<span>English</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Teachers Area -->

		<!-- Start Events Area -->
		<section class="event-area ptb-70">
			<div class="container">
				<div class="section-title">
					<span>Education Events</span>
					<h2>Upcoming events</h2>
				</div>

				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="single-event">
							<a href="single-event.html">
								<img src="/theme/assets/img/event-img/event-img-1.png" alt="Image">
							</a>

							<div class="event-content">
								<ul>
									<li>
										<i class="bx bx-calendar"></i>
										Aug 13, 2020
									</li>
									<li>
										<i class="bx bx-time"></i>
										Monday 3:00AM - 5:00PM
									</li>
								</ul>

								<a href="single-event.html">
									<h3>Comprehensive literacy and reading recovery conference</h3>
								</a>
								
								<span>
									<i class="bx bxs-location-plus"></i> 
									Washington, DC
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6">
						<div class="single-event">
							<a href="single-event.html">
								<img src="/theme/assets/img/event-img/event-img-2.png" alt="Image">
							</a>

							<div class="event-content">
								<ul>
									<li>
										<i class="bx bx-calendar"></i>
										Sep 14, 2020
									</li>
									<li>
										<i class="bx bx-time"></i>
										Monday 4:00AM - 6:00PM
									</li>
								</ul>

								<a href="single-event.html">
									<h3>Future of higher education: an invitation to lead</h3>
								</a>

								<span>
									<i class="bx bxs-location-plus"></i> 
									New Orleans, LA
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6">
						<div class="single-event">
							<a href="single-event.html">
								<img src="/theme/assets/img/event-img/event-img-3.png" alt="Image">
							</a>

							<div class="event-content">
								<ul>
									<li>
										<i class="bx bx-calendar"></i>
										Oct 01, 2020
									</li>
									<li>
										<i class="bx bx-time"></i>
										Monday 3:00AM - 5:00PM
									</li>
								</ul>

								<a href="single-event.html">
									<h3>National reading recovery & literacy conference</h3>
								</a>

								<span>
									<i class="bx bxs-location-plus"></i> 
									Bellevue, WA
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6">
						<div class="single-event">
							<a href="single-event.html">
								<img src="/theme/assets/img/event-img/event-img-4.png" alt="Image">
							</a>

							<div class="event-content">
								<ul>
									<li>
										<i class="bx bx-calendar"></i>
										July 13, 2020
									</li>
									<li>
										<i class="bx bx-time"></i>
										Monday 3:00AM - 5:00PM
									</li>
								</ul>

								<a href="single-event.html">
									<h3>The great global project challenge conference</h3>
								</a>

								<span>
									<i class="bx bxs-location-plus"></i> 
									London, UK
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Events Area -->

		<!-- Start Video Area -->
		<div class="video-area f5f6fa-bg-color">
			<div class="container">
				<div class="video-wrap">
					<img src="/theme/assets/img/video-img.jpg" alt="Image">
					
					<div class="video-content">
						<a href="https://www.youtube.com/watch?v=iLS_YP1uEK8" class="video-btn popup-youtube">
							<i class="flaticon-play-button"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End Video Area -->

		<!-- Start Feedback Area -->
		<section class="feedback-area f5f6fa-bg-color ptb-100">
			<div class="container">
				<div class="section-title">
					<span>Feedback</span>
					<h2>What students say</h2>
				</div>

				<div class="feedback-slider owl-theme owl-carousel">
					<div class="feedback-item">
						<i class="flaticon-quotation"></i>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

						<div class="feedback-title">
							<img src="/theme/assets/img/feedback-img/feedback-img-1.jpg" alt="Image">
							<h3>Jessica Molony</h3>
							<span>Designer</span>
						</div>
					</div>

					<div class="feedback-item">
						<i class="flaticon-quotation"></i>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

						<div class="feedback-title">
							<img src="/theme/assets/img/feedback-img/feedback-img-2.jpg" alt="Image">
							<h3>Juhon Dew</h3>
							<span>Marketer </span>
						</div>
					</div>

					<div class="feedback-item">
						<i class="flaticon-quotation"></i>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

						<div class="feedback-title">
							<img src="/theme/assets/img/feedback-img/feedback-img-3.jpg" alt="Image">
							<h3>Kilva Smith</h3>
							<span>Designer</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Feedback Area -->

		<!-- Start Discover Area -->
		<section class="discover-area ebeef5-bg-color ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<div class="discover-content">
							<span class="top-title">Discover Courses</span>
							<h2>Online training with on education</h2>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>

							<ul>
								<li>
									<span>1</span>
									Explore
								</li>
								<li>
									<span>2</span>
									Compare
								</li>
								<li>
									<span>3</span>
									Decided
								</li>
								<li>
									<span>4</span>
									Enroll
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-8">
						<div class="discover-slider owl-theme owl-carousel">
							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-1.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$35</span>
									<span class="tag">Education</span>
	
									<a href="single-course.html">
										<h3>Programming foundations: real-world examples</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">44 Students</li>
									</ul>
								</div>
							</div>
						
							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-2.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$39</span>
									<span class="tag">School</span>
	
									<a href="single-course.html">
										<h3>Teaching assistant certificate in learning in schools</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">44 Students</li>
									</ul>
								</div>
							</div>

							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-3.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$29</span>
									<span class="tag">Language</span>
	
									<a href="single-course.html">
										<h3>English: spelling, punctuation and grammar</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">39 Students</li>
									</ul>
								</div>
							</div>
						
							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-4.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$49</span>
									<span class="tag">Teaching</span>
	
									<a href="single-course.html">
										<h3>Introduction to cybersecurity for teachers</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">50 Students</li>
									</ul>
								</div>
							</div>
						
							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-5.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$39</span>
									<span class="tag">Teaching</span>
	
									<a href="single-course.html">
										<h3>Learning implementing lormative assessment</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">44 Students</li>
									</ul>
								</div>
							</div>
						
							<div class="single-course">
								<a href="single-course.html">
									<img src="/theme/assets/img/course-img/course-img-6.jpg" alt="Image">
								</a>
	
								<div class="course-content">
									<span class="price">$59</span>
									<span class="tag">Education</span>
	
									<a href="single-course.html">
										<h3>Teaching languages in primary schools: putting research</h3>
									</a>
	
									<ul class="rating">
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
										<li>
											<i class="bx bxs-star"></i>
										</li>
									</ul>
	
									<ul class="lessons">
										<li>0 Lessons</li>
										<li class="float">44 Students</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="discover-img">
				<img src="/theme/assets/img/discover-img.png" alt="Image">
			</div>
		</section>
		<!-- End Discover Area -->

		<!-- Start News Area -->
		<section class="news-area f5f6fa-bg-color pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<span>Our News</span>
					<h2>Explore recent news</h2>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="single-news">
							<a href="single-blog.html">
								<img src="/theme/assets/img/news-img/news-img-1.jpg" alt="Image">
							</a>

							<div class="news-content">
								<span class="tag">Development</span>

								<a href="single-blog.html">
									<h3>What is lifelong learning and how could it help your learning?</h3>
								</a>

								<ul class="lessons">
									<li>By: <a href="#">Admin</a></li>
									<li class="float">Posted aon 13/07/2020</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="row mb-30">
							<div class="col-lg-4 col-sm-4 pr-0">
								<div class="news-img bg-2"></div>
							</div>

							<div class="col-lg-8 col-sm-8 pl-0">
								<div class="news-listing-content">
									<span class="tag">Market Trends</span>

									<a href="single-blog.html">
										<h3>All aspire students are now student card eligible!</h3>
									</a>

									<ul class="lessons">
										<li>By: <a href="#">Admin</a></li>
										<li class="float">Posted on 12/07/2020</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row mb-30">
							<div class="col-lg-4 col-sm-4 pr-0">
								<div class="news-img bg-3"></div>
							</div>

							<div class="col-lg-8 col-sm-8 pl-0">
								<div class="news-listing-content">
									<span class="tag">Research</span>

									<a href="single-blog.html">
										<h3>Determining the true goal of a good education is difficult.</h3>
									</a>

									<ul class="lessons">
										<li>By: <a href="#">Admin</a></li>
										<li class="float">Posted on 11/07/2020</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="row r-p-mb">
							<div class="col-lg-4 col-sm-4 pr-0">
								<div class="news-img bg-4"></div>
							</div>

							<div class="col-lg-8 col-sm-8 pl-0">
								<div class="news-listing-content">
									<span class="tag">Career Advice</span>

									<a href="single-blog.html">
										<h3>Leading the way with lifelong learning</h3>
									</a>

									<ul class="lessons">
										<li>By: <a href="#">Admin</a></li>
										<li class="float">Posted on 10/07/2020</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End News Area -->

		<!-- Start Subscribe Area -->
		<section class="subscribe-area ebeef5-bg-color ptb-100">
			<div class="container">
				<div class="subscribe-wrap">
					<h2>Subscribe</h2>
					<p>Subscribe to our newsletter & stay updated</p>

					<form class="newsletter-form" data-toggle="validator">
						<input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">

						<button class="default-btn" type="submit">
							Subscribe Now
						</button>

						<div id="validator-newsletter" class="form-result"></div>
					</form>	
					<div class="subscribe-img">
						<img src="/theme/assets/img/subscribe-img.png" alt="Image">
					</div>
				</div>
			</div>
		</section>
		<!-- End Subscribe Area -->

		<!-- Start Footer Top Area -->
		<footer class="footer-top-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<h3>Find Us</h3>

							<ul class="address">
								<li class="location">
									<i class="bx bxs-location-plus"></i>
									6890 Blvd, The Bronx, NY 1058 New York, USA
								</li>

								<li>
									<i class="bx bxs-envelope"></i>
									<a href="mailto:hello@eduon.com">hello@eduon.com</a>
									<a href="mailto:public@eduon.com">public@eduon.com</a>
								</li>

								<li>
									<i class="bx bxs-phone-call"></i>
									<a href="tel:+1(514)312-5678">+1 (514) 312-5678</a>
									<a href="tel:+1(514)312-6688">+1 (514) 312-6688</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<h3>Useful links</h3>

							<ul class="link">
								<li>
									<a href="courses.html">All Courses</a>
								</li>
								<li>
									<a href="about.html">About us</a>
								</li>
								<li>
									<a href="faq.html">Help (FAQ)</a>
								</li>
								<li>
									<a href="terms-conditions.html">Terms & Conditions</a>
								</li>
								<li>
									<a href="privacy-policy.html">Privacy Policy</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<h3>Top online courses</h3>

							<ul class="link">
								<li>
									<a href="#">AI for everyone</a>
								</li>
								<li>
									<a href="#">Networks and deep learning</a>
								</li>
								<li>
									<a href="#">Learning with python</a>
								</li>
								<li>
									<a href="#">Financial markets</a>
								</li>
								<li>
									<a href="#">Speak English professionally</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="footer-widget">
							<h3>Popular subjects</h3>

							<ul class="link">
								<li>
									<a href="#">Data science</a>
								</li>
								<li>
									<a href="#">Computer science</a>
								</li>
								<li>
									<a href="#">Business and Management</a>
								</li>
								<li>
									<a href="#">Business and Management</a>
								</li>
								<li>
									<a href="#">Nature & Environment</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Top Area -->

		<!-- Start Footer Bottom Area -->
		<footer class="footer-bottom-area">
			<div class="container">
				<div class="copyright-wrap">
					<p>
						Copyright <i class="bx bx-copyright"></i>2019 Infratelier. Designed By <a href="https://hibootstrap.com/" target="blank">HiBootstrap.com</a>
					</p>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area -->
		

    <!-- Jquery Min JS -->
    <script src="/theme/assets/js/jquery.min.js"></script> 
    <!-- Bootstrap Bundle Min JS -->
    <script src="/theme/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu Min JS -->
		<script src="/theme/assets/js/meanmenu.min.js"></script>
		<!-- Owl Carousel Min JS -->
		<script src="/theme/assets/js/owl.carousel.min.js"></script>
		<!-- Wow Min JS -->
    <script src="/theme/assets/js/wow.min.js"></script>
    <!-- Nice Select Min JS -->
		<script src="/theme/assets/js/nice-select.min.js"></script>
    <!-- Magnific Popup Min JS -->
		<script src="/theme/assets/js/magnific-popup.min.js"></script>
		<!-- jarallax Min JS --> 
		<script src="/theme/assets/js/jarallax.min.js"></script>
		<!-- Appear Min JS --> 
    <script src="/theme/assets/js/appear.min.js"></script>
		<!-- Odometer JS --> 
		<script src="/theme/assets/js/odometer.min.js"></script>
		<!-- Form Validator Min JS -->
		<script src="/theme/assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
		<script src="/theme/assets/js/contact-form-script.js"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="/theme/assets/js/ajaxchimp.min.js"></script>
    <!-- Custom JS -->
		<script src="/theme/assets/js/custom.js"></script>
    </body>
</html>
